Client/AutomationClient/Service References/Remote/phoneAutomation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsPhoneTestFramework.Server.WCFHostedAutomationController" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsPhoneTestFramework.Server.WCFHostedAutomationController" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/phoneAutomation?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/WindowsPhoneTestFramework.Server.WCFHostedAutomationController.Commands" />
  <xs:complexType name="SelectionItemOnIndexCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WindowsPhoneTestFramework.Server.WCFHostedAutomationController.Commands" base="q1:AutomationElementCommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IndexOfItemToSelect" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectionItemOnIndexCommand" nillable="true" type="tns:SelectionItemOnIndexCommand" />
  <xs:complexType name="LookForTypeCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/WindowsPhoneTestFramework.Server.WCFHostedAutomationController.Commands" base="q2:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="TypeStr" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LookForTypeCommand" nillable="true" type="tns:LookForTypeCommand" />
  <xs:complexType name="TestCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/WindowsPhoneTestFramework.Server.WCFHostedAutomationController.Commands" base="q3:AutomationElementCommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestCommand" nillable="true" type="tns:TestCommand" />
</xs:schema>